{% extends 'blog/base.html' %}

{% block content %}
    <article class="post">
        {% if post.updated_date %}
            <time class="date">
                {{ post.updated_date }}
            </time>
        {% else %}
            <time class="date">
                {{ post.created_date }}
            </time>
        {% endif %}
        <aside class="actions">
            {% if user == post.author %}
                <a class="btn btn-secondary" href="{% url 'post_edit' pk=post.pk %}">
                    {% include './icons/pencil-fill.svg' %}
                </a>
                <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove">delete</span></a>
            {% endif %}
        </aside>
        <h2>{{ post.title }}</h2>
        <table class="table">
            <caption>Information of book</caption>
            <tbody>
                <tr>
                  <th>Title</th>
                  <th class="book-title">{{ post.book_title }}</th>
                </tr>
                <tr>
                  <td>Author</td>
                  <td class="book-author">{{ post.book_authors }}</td>
                </tr>
                <tr>
                  <td>Published Date</td>
                  <td class="book-publishedDate">{{ post.book_publishedDate }}</td>
                </tr>
                <tr>
                  <td>Description</td>
                  <td class="book-description">{{ post.book_description }}</td>
                </tr>
            </tbody>
          </table>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
    <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
    <hr>
    {% for comment in post.comments.all %}
    {% if user.is_authenticated or comment.approved_comment %}
    <div class="comment">
        <div class="date">
            {{ comment.created_date }}
            {% if not comment.approved_comment %}
                <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
            {% endif %}
        </div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
    {% endif %}
    {% empty %}
        <p>No comments here yet :(</p>
    {% endfor %}
{% endblock %}